body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgb(122, 175, 186);
}

.calculatorContainer{
    margin:400px;
    display:flex;
    width: 500px;
    height: 610px;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

.button, 
.longButton,
.clearButton {
    flex: 0 0 auto;
    font-size: 45px;
    height: 100px;
    margin: 10px;
}

.button{
    width: 100px;
}
.longButton{
    width: 200px;
}

#clearButton{
    width: 310px;
}


.display,
.calculationFinished {
    text-align: right;
    width: 400px;
    height: 80px;
    font-size: 45px;
    padding: 20px;
}

.calculationFinished {
    font-style: italic;
    color: rgb(153, 150, 150);
}