body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: black;
    font-family: math, monospace;
}

.calculatorContainer{
    margin:400px;
    display:flex;
    width: 500px;
    height: 700px;
    flex: 0 0 auto;
    flex-wrap: wrap;
    background-color:black;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: math, monospace;
    border-radius: 20px;

    border: 5px solid orange;
}

.button, 
.longButton,
.clearButton {
    flex: 0 0 auto;
    font-size: 45px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-family: math, monospace;
}

.button, 
.operatorStyle,
.equalsStyle{
    width: 114px;
}

.numberButton{
    background-color: black;
    border-color: orange;
    color:orange;
}

.clearButton{
    width: 360px;
    background-color: rgb(163, 130, 219);
}


.display,
.calculationFinished {
    text-align: right;
    width: 430px;
    height: 80px;
    font-size: 60px;
    padding: 20px;
    border-radius: 10px;
    font-family: math, monospace;
    background-color: rgb(224, 174, 114);
    color: black;
}

.calculationFinished {
    font-style: italic;
    color: rgb(153, 150, 150);
}

.operatorStyle {

    border-radius: 10px;
    background-color: rgb(92, 202, 92);
}

.equalsStyle{

    border-radius: 10px;
    background-color: orange;
    color: black;
    
}

.highlighted{
    background-color:white;
    color:green;
}